body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #222; /* 深灰色背景 */
}
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none; /* 支持 Safari 3+ 和其他 WebKit 浏览器 */
    user-select: none; /* 防止用户选中图片 */
    z-index: 1;
}
.message {
    position: absolute;
    bottom: 20vh; /* 距离屏幕底部 20% */
    left: 50%; /* 水平居中 */
    margin-left: -50%; /* 水平居中修正 */
    width: 100%;
    padding: 10px;
    border-radius: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* 半透明的渐变背景 */
    font-size: calc(100vw / 18);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.message.visible {
    opacity: 1;
}

.option-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 2;
}

.option-bar.hidden {
    opacity: 0;
    pointer-events: none;
}

.top-bar-left, .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: center; /* 水平居中 */
    width: 50%; /* 设置宽度为50% */
    height: 60%;
}

.top-bar-right {
    justify-content: space-between; /* 按钮之间保持较大间距 */

}

.filename {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: calc(100vw / 24);
    width: 100%; /* 控制文本宽度为屏幕宽度的一半 */
    flex-grow: 1; /* 占满剩余空间 */
}

.top-bar-button {
    background: none;
    border: none;
    color: white;
    font-size: calc(100vw / 12);
    cursor: pointer;
    z-index: 10;
    display: inline-flex; /* 使用内联弹性盒子 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    white-space: nowrap; /* 强制文本不换行 */
    position: relative; /* 相对于父元素定位 */
    width: 33.3333%; /* 设置宽度为父容器的三分之一 */
    height: 100%;
}

.delete {
    color: red;
}
.carouse {
    color: green;
}

.top-bar-button .icon {
    position: absolute; /* 绝对定位 */
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%) rotate(-180deg); /* 调整垂直居中 */
    backface-visibility: hidden; /* 防止旋转导致的性能问题 */
    pointer-events: none; /* 禁用点击事件 */
}

.top-bar-button .icon:last-child {
    transform: translate(-50%, -50%) rotate(0deg); /* 调整垂直居中 */
}




.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transform-origin: center center; /* 确保变换原点是元素中心 */
    opacity: 0;
}
.image.visible {
    opacity: 1;
}

.image-enter-from-left {
    left: 50%; !important;
    transition: transform 0.1s ease-in-out; /* 添加过渡动画 */
}
.image-enter-from-right {
    left: 50%; !important;
    transition: transform 0.1s ease-in-out; /* 添加过渡动画 */
}
.image-exit-to-left {
    left: -50%; !important;
    transition: transform 0.1s ease-in-out; /* 添加过渡动画 */
}
.image-exit-to-right {
    left: 150%; !important;
    transition: transform 0.1s ease-in-out; /* 添加过渡动画 */
}