<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css', v=timestamp) }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="header">
        <a href="#" class="back-button">返回</a>
        <a href="{{ url_for('login.logout') }}" class="logout-button">注销</a>
    </div>
    <div class="content">
        <h1>帮助文档</h1>
        <p>浏览页面左滑返回上一目录</p>
        <p>图片查看页面点击文件名返回浏览图片所在文件夹</p>

        <div class="comments-section">
            <div class="column comments-list">
                <ul>
                    {% for comment in comments[:(comments|length)] %}
                        <li data-comment-id="{{ comment.id }}">
                            <span>{{ comment.text | safe }}</span>
                            <button class="delete-button">删除</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column comment-form">
                <h2>评论</h2>
                <form action="{{ url_for('settings.settings') }}" method="post">
                    <textarea name="comment" required></textarea>
                    <button type="submit">提交</button>
                </form>
            </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/settings.js', v=timestamp) }}"></script>

</body>
</html>